<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		<add name= "cn" connectionString="Data Source=DESKTOP-BTE410F\SQLEXPRESS04;Initial Catalog=Pavilions;Integrated Security=True"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--
	<appSettings>
		<add key= "selectParent" value="SELECT * FROM Climates" />
		<add key= "selectChild" value="SELECT * FROM Pavilions" />
		
		<add key="ParentTableName" value="Climates"/>
		<add key="ChildTableName" value="Pavilions"/>
		
		<add key="ChildNumberOfColumns" value="8"/>
		
		<add key="ChildColumnNames" value="name_of_pavilion,purpose,year_of_construction,dimension,location_of_pavilion,landform,country,climate"/>
		
		<add key="ColumnNamesInsertParameters" value ="@name_of_pavilion, @purpose,@year_of_construction,@dimension,@location_of_pavilion,@landform,@country,@climate"/>

		<add key="filterChild" value="SELECT * FROM Pavilions WHERE climate=@id"/>
		<add key="InsertQuery" value="INSERT INTO Pavilions(name_of_pavilion,purpose,year_of_construction,dimension,location_of_pavilion,landform,country,climate) VALUES(@name_of_pavilion, @purpose,@year_of_construction,@dimension,@location_of_pavilion,@landform,@country,@climate)"/>
		<add key ="UpdateQuery" value="UPDATE Pavilions SET purpose=@purpose,year_of_construction=@year_of_construction,dimension=@dimension,location_of_pavilion=@location_of_pavilion,landform=@landform,country=@country,climate=@climate WHERE name_of_pavilion=@id"/>
		<add key="DeleteQuery" value ="DELETE FROM Pavilions WHERE name_of_pavilion=@id"/>
	</appSettings>
	-->


	
	<appSettings>
		<add key= "selectParent" value="SELECT * FROM Countries" />
		<add key= "selectChild" value="SELECT * FROM Pavilions" />
		
		<add key="ParentTableName" value="Countries"/>
		<add key="ChildTableName" value="Pavilions"/>
		
		<add key="ChildNumberOfColumns" value="8"/>
		
		<add key="ChildColumnNames" value="name_of_pavilion,purpose,year_of_construction,dimension,location_of_pavilion,landform,country,climate"/>
		
		<add key="ColumnNamesInsertParameters" value ="@name_of_pavilion, @purpose,@year_of_construction,@dimension,@location_of_pavilion,@landform,@country,@climate"/>

		<add key="filterChild" value="SELECT * FROM Pavilions WHERE country=@id"/>
		<add key="InsertQuery" value="INSERT INTO Pavilions(name_of_pavilion,purpose,year_of_construction,dimension,location_of_pavilion,landform,country,climate) VALUES(@name_of_pavilion, @purpose,@year_of_construction,@dimension,@location_of_pavilion,@landform,@country,@climate)"/>
		<add key ="UpdateQuery" value="UPDATE Pavilions SET purpose=@purpose,year_of_construction=@year_of_construction,dimension=@dimension,location_of_pavilion=@location_of_pavilion,landform=@landform,country=@country,climate=@climate WHERE name_of_pavilion=@id"/>
		<add key="DeleteQuery" value ="DELETE FROM Pavilions WHERE name_of_pavilion=@id"/>
	</appSettings>
	
	
	
</configuration>